# Git
.git/
.gitignore
.gitlab-ci.yml

# Docker
Dockerfile
.dockerignore

# Python
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
**/*.ipynb
**/*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage

# IDE
.vscode/

# Project
data/
notebooks/
.backup/
README.md
